@import "tailwindcss";

.animate-gradient-text {
background-size: 300% auto;
animation: textGradient 8s ease infinite;
}

@keyframes textGradient {
0% { background-position: 0% 50%; }
 50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}

body { background-color: #050505; }

@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-card-gradient {
  background-size: 200% 200%; /* Hapus !important agar tidak kaku */
  animation: gradient-shift 3s ease infinite; 
}